.tablero {
  display: flex;
  margin: 20px;
}
.celda {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.celda:hover {
  background-color: #bbb;
}